body { background: #fe96f9; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 45px; display: flex; }
.block-validator-0 { color: #bef9e8; font-size: 20px; margin-bottom: 5px; }
.block-notify-1 { color: #803aec; font-size: 12px; margin-bottom: 5px; }
.block-cluster-2 { color: #b39b51; font-size: 19px; margin-bottom: 5px; }
.block-database-3 { color: #82c2cb; font-size: 14px; margin-bottom: 5px; }
.block-uploader-4 { color: #a27732; font-size: 19px; margin-bottom: 5px; }
.block-invoice-5 { color: #8d4f9b; font-size: 12px; margin-bottom: 5px; }
.block-notify-6 { color: #2bb61f; font-size: 13px; margin-bottom: 5px; }
.block-notify-7 { color: #1720fd; font-size: 20px; margin-bottom: 5px; }
.block-email-8 { color: #bcd678; font-size: 16px; margin-bottom: 5px; }
.block-product-9 { color: #5c79b9; font-size: 19px; margin-bottom: 5px; }
.block-auth-10 { color: #2e7d58; font-size: 15px; margin-bottom: 5px; }